.UserCard {
    display: grid;
    grid-row-gap: 16px;
    padding: 0 16px;

    img {
        border-radius: 50%;
        width: 100%;
    }

    .v-card {
        h1 {
            font-size: 26px;
            line-height: 1.25;
            font-weight: 600;
        }

        h2 {
            font-size: 20px;
            font-style: normal;
            font-weight: 300;
            line-height: 24px;
            color: var(--color-text-secondary);
        }
    }

    .button-group {
        display: flex;
        gap: 8px;
    }

    button {
        color: var(--color-btn-text);
        background-color: var(--color-btn-bg);
        border-color: var(--color-btn-border);
        box-shadow: var(--color-btn-shadow),var(--color-btn-inset-shadow);
        transition: .2s cubic-bezier(.3,0,.5,1);
        transition-property: color,background-color,border-color;
        display: flex;
        align-items: center;
        gap: 4px;

        &:hover {
            background-color: var(--color-btn-hover-bg);
            border-color: var(--color-btn-hover-border);
            .octicon-heart {
                transform: scale(1.2);
            }
        }
    }

    .octicon-heart {
        fill: #ea4aaa;
        transition: transform 0.3s ease-out;
    }
}